@import './font.scss';
@import './themes/light.theme.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background-color: var(--main-bg);
  font-family: BrutalType, sans-serif;
}
