@font-face {
  font-family: 'BrutalType';
  font-weight: 900;
  font-style: normal;
  src:
          local(''),
          url('../assets/fonts/BrutalType-Black.woff2') format('woff2'),
          url('../assets/fonts/BrutalType-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'BrutalType';
  font-weight: 800;
  font-style: normal;
  src:
          local(''),
          url('../assets/fonts/BrutalType-ExtraBold.woff2') format('woff2'),
          url('../assets/fonts/BrutalType-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'BrutalType';
  font-weight: 700;
  font-style: normal;
  src:
          local(''),
          url('../assets/fonts/BrutalType-Bold.woff2') format('woff2'),
          url('../assets/fonts/BrutalType-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'BrutalType';
  font-weight: 500;
  font-style: normal;
  src:
          local(''),
          url('../assets/fonts/BrutalType-Medium.woff2') format('woff2'),
          url('../assets/fonts/BrutalType-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'BrutalType';
  font-weight: 400;
  font-style: normal;
  src:
          local(''),
          url('../assets/fonts/BrutalType.woff2') format('woff2'),
          url('../assets/fonts/BrutalType.woff2') format('woff2');
}

// @font-face {
//   font-family: 'BrutalType';
//   font-weight: 300;
//   font-style: normal;
//   src:
//           local(''),
//           url('../assets/fonts/BrutalType-Light.woff2') format('woff2'),
//           url('../assets/fonts/BrutalType-Light.woff2') format('woff2');
// }


// @font-face {
//   font-family: 'BrutalType';
//   font-weight: 200;
//   font-style: normal;
//   src:
//           local(''),
//           url('../assets/fonts/BrutalType-ExtraLight.woff2') format('woff2'),
//           url('../assets/fonts/BrutalType-ExtraLight.woff2') format('woff2');
// }

// @font-face {
//   font-family: 'BrutalType';
//   font-weight: 100;
//   font-style: normal;
//   src:
//           local(''),
//           url('../assets/fonts/BrutalType-Thin.woff2') format('woff2'),
//           url('../assets/fonts/BrutalType-Thin.woff2') format('woff2');
// }

