@import "./font.scss";

:root {
  --main-bg: #d9e4f5;
  --font-color: #212121;

  --button-bg: #0074e4;
  --button-font-color: #ffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  // background-color: var(--main-bg);
  font-family: BrutalType, sans-serif;
}
