@import "./font.scss";

:root {
  --main-bg: #d9e4f5;
  --font-color: #212121;

  // BUTTON
  --button-primary: #0074e4;
  --button-secondary: #df3664;
  --button-bg-primary-hover: #0061bb;
  --button-bg-primary-active: #0053a0;
  --button-bg-secondary-hover: #b82c52;
  --button-bg-secondary-active: #9d2647;
  --button-font-color: #ffff;

  // INPUT
  --input-bg-main: #fff;
  --input-border: rgba(0, 0, 0, 0.1);
  --input-placeholder-color: rgba(0, 0, 0, 0.4);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  // background-color: var(--main-bg);
  font-family: BrutalType, sans-serif;
}
